.option {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(58, 58, 60, 0.2);
    padding: 16px;
}

.text-col {
    padding-right: 8px;
    text-align: left;
}

.option-title {
    font-size: 18px;
    color: rgb(215, 218, 220)
}

.option-desc {
    font-size: 12px;
    color: rgb(129, 131, 132);
}

.control {
    padding-top: 5px
}